<div class="main-content">
    <div class="container-fluid">

        <!-- Reportes Administrador -->
        <div class="row" *ngIf="userService.adminUser | async">
            <div class="col-md-10 mx-auto">

                <div class="card">
                    <div class="card-header card-header-danger">
                        <h2 class="card-title text-center text-justify"><strong>REPORTES ADMINISTRADOR</strong></h2>
                    </div>

                    <div class="card-body m-4">

                        <div class="row">
                            <div class="col-md-12 mx-auto">
                                <div class="text-center">
                                    <div class="jumbotron jumbotron-fluid" style="padding: 2rem;">
                                        <div class="container">
                                            <h4 class="display-4">¿Qué puedo hacer?</h4>
                                            <p class="lead">Aquí podrás consultar los cuestionarios contestados de:
                                                <br> 1. Un usuario específico. <br> 2.Consultar todos los cuestionarios
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <img class="mx-auto" src="../../../../assets/img/reportes.png" alt="imgagen reportes" width="200px">
                        </div>
                        <hr>

                        <div class="row">
                            <div class="col-md-6 mx-auto text-center">
                                <h3><strong>1</strong></h3>

                                <form class="mt-4" [formGroup]="consultaForm" autocomplete="on">
                                    <!-- Seleccionar usuario -->
                                    <mat-form-field appearance="fill">
                                        <mat-label>Seleccione al usuario</mat-label>
                                        <mat-select formControlName="idUsuario" name="Usuarios" required>
                                            <mat-option *ngFor="let usuario of usuarios" [value]="usuario.id">
                                                {{ usuario.nombres }} {{ usuario.apellidos }}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>

                                    <mat-form-field appearance="fill">
                                        <mat-label>Seleccione la categoría</mat-label>
                                        <mat-select #idCategoria formControlName="idCategoria" name="Categorias" required>
                                            <mat-option *ngFor="let cuestionario of cuestionariosUser" [value]="cuestionario">
                                                {{ cuestionario.categoriaNombre }}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                    <button mat-raised-button type="button" [disabled]="!idCategoria.value" (click)="consultarUsuario()">
                                        <mat-icon matSuffix>search</mat-icon>Consultar usuario
                                    </button>
                                </form>
                            </div>

                            <div class="col-md-6 mx-auto text-center">
                                <h3><strong>2</strong></h3>
                                <div class="pt-5">
                                    <!-- De todos los usuarios -->
                                    <button mat-raised-button type="button" (click)="consultarReportesUsuarios()">
                                        <mat-icon matSuffix>search</mat-icon>Consultar todos los cuestionarios
                                    </button>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>

        <!-- Reportes Usuario -->
        <div class="row" *ngIf="!(userService.adminUser | async)">
            <div class="col-md-10 mx-auto">

                <div class="card">
                    <div class="card-header card-header-danger">
                        <h2 class="card-title text-center text-justify"><strong>REPORTES</strong></h2>
                    </div>

                    <div class="card-body m-4">

                        <div class="row">
                            <div class="col-md-12 mx-auto">
                                <div class="text-center">
                                    <div class="jumbotron jumbotron-fluid" style="padding: 2rem;">
                                        <div class="container">
                                            <h4 class="display-4">¿Qué puedo hacer?</h4>
                                            <p class="lead">Aquí podrás consultar los resultados y sugerencias de cada categoría que hayas evaluado anteriormente, o puedes consultar un reporte general de todas las categorías.
                                                <br><br> Selecciona la categoría que desees consultar sus resultados y ver el informe generado
                                            </p>
                                        </div>
                                    </div>
                                    <img src="../../../../assets/img/reportes.png" alt="imagen reportes" width="200px">
                                </div>
                                <hr>
                            </div>
                        </div>
                        <div class="row align-items-center">

                            <div class="col-md-6 mx-auto" *ngIf="cuestionarios.length >= 1">
                                <div class="text-center">
                                    <mat-form-field appearance="fill">
                                        <mat-label>Seleccione la categoría</mat-label>
                                        <mat-select #idCategoria name="Categorias" required>
                                            <mat-option value="todas">Todas las categorias</mat-option>
                                            <mat-option *ngFor="let cuestionario of cuestionarios" [value]="cuestionario">
                                                {{ cuestionario.categoriaNombre }}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>

                                    <button mat-raised-button type="button" [disabled]="!idCategoria.value" (click)="visualizacionResultados(idCategoria.value)">
                                        <mat-icon matSuffix>search</mat-icon>Consultar
                                    </button>
                                </div>
                            </div>

                        </div>


                    </div>

                </div>
            </div>
        </div>


        <!-- Tabla Respuestas cuestionario de categoria elegida -->
        <div class="row" *ngIf="flagTabla">
            <div class="col-md-8 mx-auto">
                <div class="card">
                    <div class="card-header card-header-icon card-header-info">
                        <div class="card-icon">
                            <i class="material-icons"></i>
                        </div>
                        <h3 class="card-title"> Respuestas de la categoría:
                            <strong>{{ cuestionario.categoriaNombre }}</strong></h3>
                    </div>
                    <div class="card-body">
                        <!-- Tabla -->
                        <mat-form-field>
                            <mat-label>Filtrar</mat-label>
                            <input matInput (keyup)="buscarCuestionario($event)" placeholder="...">
                        </mat-form-field>


                        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

                            <!-- Fecha Column -->
                            <ng-container matColumnDef="Fecha">
                                <th mat-header-cell *matHeaderCellDef> Fecha </th>
                                <!-- TODO Pipe transforma data tipo TimeStamp de Firestore -->
                                <td mat-cell *matCellDef="let element">
                                    {{ element.fecha.toDate() | date: 'dd MMM hh:mm' }} </td>
                            </ng-container>
                            <!-- Intento Column -->
                            <ng-container matColumnDef="Intento">
                                <th mat-header-cell *matHeaderCellDef> Intento </th>
                                <td mat-cell *matCellDef="let element"> {{element.intento }} </td>
                            </ng-container>

                            <!-- Actions -->
                            <ng-container matColumnDef=" ">
                                <th mat-header-cell *matHeaderCellDef> </th>
                                <td mat-cell *matCellDef="let element" style="width: 130px;">
                                    <div class="button-container">
                                        <button [routerLink]="['/reporte/'+ element.id]" [queryParams]="{idCuestionario: cuestionario.id}" matTooltip="Ver reporte" matTooltipPosition="above" matTooltipHideDelay="100" mat-mini-fab color="accent" aria-label="Ver cuestionario">
                                            <mat-icon>visibility</mat-icon>
                                        </button>
                                    </div>
                                </td>
                            </ng-container>

                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                        </table>

                        <!-- End Table -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>