.cuestionario {
    margin-top: 15%;
}

.example-radio-group {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
}

.csv-file-chooser-section {
    padding: 10px;
    margin: 5%;
    border: 1px solid;
    text-align: center;
}