<div class="wrapper">

    <div class="container cuestionario">
        <div class="row">
            <div class="col-md-6">
                <input type="file" accept=".csv" (change)="handleFileSelect($event)">
            </div>

        </div>
        <div class="row justify-content-center ">
            <div class="col-md-12 ">
                <!-- *ngIf="records.length > 0" -->
                <mat-pages>
                    <mat-page-loader *ngFor="let cats of categorias">
                        <mat-page-outlook title="{{ cats }}">
                            {{ cats }}
                        </mat-page-outlook>
                        <mat-page-content>

                            <label id="example-radio-group-label">Pregunta 1</label>
                            <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group" [(ngModel)]="favoriteSeason">
                                <mat-radio-button class="example-radio-button" *ngFor="let season of seasons" [value]="season">
                                    {{season}}
                                </mat-radio-button>
                            </mat-radio-group>


                        </mat-page-content>
                    </mat-page-loader>
                </mat-pages>
            </div>
        </div>

        <div class="row">

        </div>
    </div>


</div>