<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header card-header-icon card-header-info">
                <div class="card-icon">
                    <i class="material-icons">business</i>
                </div>
                <h4 class="card-title">Empresas del usuario</h4>
            </div>
            <hr>
            <div class="text-right">
                <button mat-raised-button (click)="empresaUpdateForm({}, 'Agregar')" color="primary" aria-label="Agrega una provincia">
                    <mat-icon>add</mat-icon> Agregar
                </button>
            </div>
            <hr>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-4" *ngFor="let empresa of empresasList">
                        <div class="card">
                            <div class="card-header text-center">
                                <h4 class="card-title">{{empresa.razon_social}}</h4>
                            </div>
                            <div class="card-body">
                                <!-- <button (click)="openDialog('Actualizar', empresa)" mat-raised-button class="btn btn-info btn-block">Seleccionar</button> -->
                                <button (click)="empresaUpdateForm(empresa, 'Actualizar')" mat-raised-button class="btn btn-info btn-block">Editar empresa</button>
                                <button (click)="eliminarEmpresa(empresa)" mat-raised-button class="btn btn-danger btn-block">Eliminar</button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="row" *ngIf="editEmpresa || newEmpresa">
    <div class="col-md-12">

        <div class="card">
            <div class="card-header card-header-info">
                <h4 class="card-title">Editar Perfil</h4>
                <p class="card-category">Complete su perfil</p>
            </div>
            <div class="card-body">
                <!-- Empresa/s -->
                <h3>Datos Empresa/s</h3>

                <form class="mt-4" [formGroup]="empresaForm" autocomplete="on">
                    <div class="row">
                        <div class="col-md-4">
                            <mat-form-field appearance="fill">
                                <mat-label>Razón Social</mat-label>
                                <input matInput formControlName="razon_social" type="text" placeholder="Nombre de su empresa" required>
                                <mat-icon matSuffix>business</mat-icon>
                                <mat-error *ngIf="empresaForm.controls['razon_social'].hasError('required')">Ingrese el nombre de la empresa o razón social</mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col-md-4">
                            <mat-form-field appearance="standard">
                                <mat-label>Años de Actividad de la Empresa</mat-label>
                                <input matInput formControlName="anio_creacion" type="number" required>
                                <mat-icon matSuffix>business</mat-icon>
                            </mat-form-field>
                        </div>
                        <div class="col-md-4">
                            <mat-form-field appearance="standard">
                                <mat-label>Franquicias</mat-label>
                                <input matInput formControlName="franquicias" type="number">
                                <mat-icon matSuffix>business</mat-icon>
                            </mat-form-field>
                        </div>

                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <mat-form-field appearance="fill">
                                <mat-label>Sector Industrial</mat-label>
                                <mat-select formControlName="idSectorInd" required>
                                    <mat-option *ngFor="let sector of sectoresInds" [value]="sector.id ">
                                        {{ sector.nombre }}
                                    </mat-option>
                                </mat-select>
                                <mat-error *ngIf="empresaForm.controls['idSectorInd'].hasError('required')">Elija un sector industrial
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col-md-4">
                            <mat-form-field appearance="fill">
                                <mat-label>Tamaño de la Empresa</mat-label>
                                <mat-select formControlName="tamanio_empresa" required>
                                    <mat-option *ngFor="let empresa of empresas" [value]="empresa">
                                        {{empresa}}
                                    </mat-option>
                                </mat-select>
                                <mat-error *ngIf="empresaForm.controls['tamanio_empresa'].hasError('required')">Elija el tipo de empresa
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col-md-4">
                            <mat-form-field appearance="fill">
                                <mat-label>Área Alcance</mat-label>
                                <mat-select formControlName="area_alcance" required>
                                    <mat-option *ngFor="let area of areas" [value]="area">
                                        {{area}}
                                    </mat-option>
                                </mat-select>
                                <mat-error *ngIf="empresaForm.controls['area_alcance'].hasError('required')">Elija el tipo de empresa
                                </mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row ">
                        <div class="col-md-4">
                            <mat-form-field appearance="fill">
                                <mat-label>País</mat-label>
                                <mat-select formControlName="idPais" name="pais" required>
                                    <mat-option *ngFor="let pais of paises" [value]="pais.id">
                                        {{ pais.nombre }}
                                    </mat-option>
                                </mat-select>
                                <mat-error *ngIf="empresaForm.controls['idPais'].hasError('required')">Elija un país
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col-md-4">
                            <mat-form-field appearance="fill">
                                <mat-label>Provincia</mat-label>
                                <mat-select formControlName="idProvincia" name="provincia" required>
                                    <mat-option *ngFor="let provincia of provincias" [value]="provincia.id">
                                        {{ provincia.nombre }}
                                    </mat-option>
                                </mat-select>
                                <mat-error *ngIf="empresaForm.controls['idProvincia'].hasError('required')">Elija una provincia
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col-md-4">
                            <mat-form-field appearance="fill">
                                <mat-label>Cantón</mat-label>
                                <mat-select formControlName="idCanton" required>
                                    <mat-option *ngFor="let canton of cantones" [value]="canton.id">
                                        {{ canton.nombre }}
                                    </mat-option>
                                </mat-select>
                                <mat-error *ngIf="empresaForm.controls['idCanton'].hasError('required')">Elija un cantón
                                </mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <mat-form-field appearance="fill">
                                <mat-label>Dirección de la Empresa</mat-label>
                                <textarea matInput type="text" autocomplete="on" formControlName="direccion" required></textarea>
                                <mat-error *ngIf="empresaForm.controls['idCanton'].hasError('required')">Elija un cantón
                                </mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                    <button *ngIf="newEmpresa" (click)="crearEmpresa()" mat-raised-button type="submit" class="btn btn-success pull-right">Registrar</button>
                    <button *ngIf="editEmpresa" (click)="actualizarEmpresa()" mat-raised-button type="submit" class="btn btn-info pull-right">Guardar cambios</button>
                </form>
            </div>
        </div>
    </div>

</div>