<div class="wrapper">

    <!-- User -->
    <section class="section">
        <div class="container admin-box">
            <div class="row">
                <div class="col-md-7">
                    <div class="card card-register">
                        <div class="row align-items-center">
                            <div class="col-md-6">
                                <h1 class="profile-title text-left">Datos Usuario</h1>
                                <h5 class="text-on-back text-">01</h5>
                            </div>
                            <div class="col-md-6" *ngFor="let u of usuarioObj">
                                <img alt="User image" class="img-fluid rounded-circle shadow-lg" src="{{ u.photoURL }}" style="width: 150px;" />
                            </div>
                        </div>


                        <div class="card-body">

                            <form class="example-container mt-4" [formGroup]="userForm" (ngSubmit)="updateUsuario()" autocomplete="on" *ngFor="let user of usuariosList">
                                <div class="row mx-auto inputs-row">
                                    <div class="col-md-6">
                                        <mat-form-field appearance="outline">
                                            <mat-label>Nombres</mat-label>
                                            <input matInput formControlName="nombres" type="text" placeholder="Nombres" value="{{ user.nombres }}">
                                            <mat-icon matSuffix>face</mat-icon>
                                        </mat-form-field>
                                    </div>

                                    <div class="col-md-6">
                                        <mat-form-field appearance="outline">
                                            <mat-label>Apellidos</mat-label>
                                            <input matInput formControlName="apellidos" type="text" placeholder="Apellidos" value="{{ user.apellidos }}">
                                            <mat-icon matSuffix>face</mat-icon>
                                        </mat-form-field>
                                    </div>
                                </div>

                                <mat-form-field appearance="fill">
                                    <mat-label>Cedula</mat-label>
                                    <input matInput formControlName="cedula" type="text" placeholder="C.I." value="{{ user.cedula }}">
                                    <mat-icon matSuffix>fingerprint</mat-icon>
                                </mat-form-field>

                                <mat-form-field appearance="fill">
                                    <span matPrefix>+593 &nbsp;</span>
                                    <input type="number" matInput formControlName="telefono" placeholder="Teléfono" value="{{ user.telefono }}">
                                    <mat-icon matSuffix>local_phone</mat-icon>
                                </mat-form-field>

                                <mat-label>Sexo</mat-label>
                                <mat-radio-group aria-labelledby="sexo" formControlName="sexo">
                                    <mat-radio-button *ngFor="let itemGenero of genero" [value]="itemGenero">
                                        {{ itemGenero }}
                                    </mat-radio-button>
                                </mat-radio-group>

                                <mat-form-field appearance="fill">
                                    <mat-label>Cargo del Responsable</mat-label>
                                    <input matInput formControlName="cargo" type="text" placeholder="Cargo que desempeña" value="{{ user.cargo }}">
                                    <mat-icon matSuffix>work</mat-icon>
                                </mat-form-field>

                                <mat-form-field appearance="outline">
                                    <mat-label>Correo</mat-label>
                                    <input matInput type="email" formControlName="correo" required value="{{ user.correo }}">
                                    <mat-icon matSuffix>email</mat-icon>
                                    <mat-error *ngFor="let validation of account_validation_messages.correo">
                                        <mat-error class="error-message" *ngIf="userForm.get('correo').hasError(validation.type) && (userForm.get('correo').dirty || userForm.get('correo').touched)">
                                            {{validation.message}}</mat-error>
                                    </mat-error>
                                </mat-form-field>

                                <!-- Password -->

                                <!-- Boton Editar, Actualizar-->

                                <mat-card-actions>
                                    <button class="btn btn-info btn-block" [disabled]="editing == true" (click)="editUsuario($event, user)">Editar</button>
                                    <button class="btn btn-success btn-block" type="submit" [disabled]="editing == true  &&!userForm.valid ">Actualizar</button>
                                </mat-card-actions>
                            </form>
                        </div>
                    </div>
                </div>

                <!-- Nota lateral -->
                <div class="col-md-5 ml-auto">
                    <div class="info info-horizontal">
                        <div class="icon icon-danger">
                            <i class="tim-icons icon-square-pin"> </i>
                        </div>
                        <div class="description">
                            <h4 class="info-title">Find us at the office</h4>
                            <p>
                                Bld Mihail Kogalniceanu, nr. 8, <br /> 7652 Bucharest, <br /> Romania
                            </p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>

    <!-- ----------------------------------------------------------------------------------------------------------------- -->
    <!-- Empresa -->
    <section class="section">
        <div class="container">
            <div class="row">
                <div class="col-md-7">
                    <div class="card card-register">
                        <div class="card-header">
                            <h1 class="profile-title text-left">Datos Empresa</h1>
                            <h5 class="text-on-back">02</h5>
                        </div>

                        <div class="card-body">

                            <form class="example-container mt-4" [formGroup]="empresaForm" (ngSubmit)="updateEmpresa()" *ngFor="let busines of empresasList" autocomplete="on">
                                <!-- Datos de la Empresa -->
                                <mat-form-field appearance="fill">
                                    <mat-label>Razón Social</mat-label>
                                    <input matInput formControlName="razon_social" type="text" placeholder="Nombre de su empresa" value="{{ busines.razon_social }}">
                                    <mat-icon matSuffix>business</mat-icon>
                                </mat-form-field>

                                <mat-form-field appearance="outline">
                                    <mat-label>Tamaño de la Empresa</mat-label>
                                    <mat-select formControlName="tamanio_empresa">
                                        <mat-option *ngFor="let empresa of empresas" [value]="empresa" value="{{ busines.tamanio_empresa }}">
                                            {{empresa}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>

                                <div class="row mx-auto">
                                    <div class="col-md-6">
                                        <mat-form-field appearance="standard">
                                            <mat-label>Años de Actividad de la Empresa</mat-label>
                                            <input matInput formControlName="anio_creacion" type="number" value="{{ busines.anio_creacion }}">
                                            <mat-icon matSuffix>business</mat-icon>
                                        </mat-form-field>
                                    </div>

                                    <div class="col-md-6">
                                        <mat-form-field appearance="standard">
                                            <mat-label>Franquicias</mat-label>
                                            <input matInput formControlName="franquicias" type="number" value="{{ busines.franquicias }}">
                                            <mat-icon matSuffix>business</mat-icon>
                                        </mat-form-field>
                                    </div>

                                </div>

                                <mat-form-field appearance="outline">
                                    <mat-label>Área Alcance</mat-label>
                                    <mat-select formControlName="area_alcance">
                                        <mat-option *ngFor="let area of areas" [value]="area">
                                            {{area}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>

                                <mat-form-field appearance="fill">
                                    <mat-label>Dirección de la Empresa</mat-label>
                                    <textarea matInput type="text" autocomplete="on" formControlName="direccion" value="{{ busines.direccion }}"></textarea>
                                </mat-form-field>

                                <!-- Boton Registro-->
                                <mat-card-actions>
                                    <button class="btn btn-info btn-block" [disabled]="editing == true" (click)="editEmpresa($event, busines)">Editar</button>
                                    <button class="btn btn-success btn-block" type="submit" [disabled]="editing == true  &&!empresaForm.valid ">Actualizar</button>
                                </mat-card-actions>
                                <br>

                            </form>
                        </div>
                    </div>
                </div>


                <!-- Nota lateral -->
                <div class="col-md-5 ml-auto">
                    <div class="info info-horizontal">
                        <div class="icon icon-danger">
                            <i class="tim-icons icon-square-pin"> </i>
                        </div>
                        <div class="description">
                            <h4 class="info-title">Find us at the office</h4>
                            <p>
                                Bld Mihail Kogalniceanu, nr. 8, <br /> 7652 Bucharest, <br /> Romania
                            </p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
    <!-- ----------------------------------------------------------------------------------------------------------------- -->
    <!-- Sector Industrial -->
    <section class="section">
        <div class="container">
            <div class="row">
                <div class="col-md-7">
                    <div class="card card-register">
                        <div class="card-header">
                            <h1 class="profile-title text-left">Sector Industrial</h1>
                            <h5 class="text-on-back">03</h5>
                        </div>

                        <div class="card-body">

                            <form class="example-container mt-4" [formGroup]="sectorIndForm" (ngSubmit)="updateSectorIndustrial()" *ngFor="let sectorInd of sectorIndustrialesList" autocomplete="on">
                                <!-- Datos de la Empresa -->
                                <mat-form-field appearance="outline">
                                    <mat-label>Sector Industrial</mat-label>
                                    <mat-select formControlName="sector_industrial">
                                        <mat-option *ngFor="let sector of sectores" [value]="sector.nombre">
                                            {{ sector.nombre }}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>

                                <!-- Boton Registro-->
                                <mat-card-actions>
                                    <button class="btn btn-info btn-block" [disabled]="editing == true" (click)="editSectorInd($event, sectorInd)">Editar</button>
                                    <button class="btn btn-success btn-block" type="submit" [disabled]="editing == true  &&!sectorIndForm.valid ">Actualizar</button>
                                </mat-card-actions>
                                <br>

                            </form>
                        </div>
                    </div>
                </div>


                <!-- Nota lateral -->
                <div class="col-md-5 ml-auto">
                    <div class="info info-horizontal">
                        <div class="icon icon-danger">
                            <i class="tim-icons icon-square-pin"> </i>
                        </div>
                        <div class="description">
                            <h4 class="info-title">Find us at the office</h4>
                            <p>
                                Bld Mihail Kogalniceanu, nr. 8, <br /> 7652 Bucharest, <br /> Romania
                            </p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
    <!-- ----------------------------------------------------------------------------------------------------------------- -->

    <!-- Lugar -->

</div>