<div class="main-content">
    <div class="container-fluid">

        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-md-12 col-sm-12">
                        <div class="text-center">
                            <h3 class="card-title titulo-home">MODELO DE MADUREZ DIGITAL</h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body pl-5 pr-5 pb-5">
                <!-- Seccion marco -->
                <section>
                    <div class="row justify-content-md-center">
                        <div class="col-sm-10">
                            <h4 class="text-center">El proceso de digitalización de una empresa debe
                                abarcar todas sus áreas. Para que puedas evaluar en qué punto está tu empresa, ponemos a
                                tu disposición un modelo de madurez digital que te ayudará a detectar tus debilidades y
                                fortalezas.</h4>
                        </div>
                    </div>
                    <div class="row pt-2 pb-2">
                        <div class="col-md-12 col-md-12 col-sm-12">
                            <div class="text-center">
                                <a routerLink="/acerca-de">
                                    <img src="../../../../assets/img/Imagen3.jpg" alt="Marco de madurez digital ODMM"
                                        style="width: 70%;">
                                </a>
                            </div>
                        </div>
                    </div>
                </section>

                <!-- Seccion categorias -->
                <section >
                    <div class="row">
                        <div class="col-md-10 col-sm-10 p-3">
                            <h4>El ODMM se divide en 6 categorías:</h4>
                        </div>
                    </div>
                    <div class="row">
                            <mat-accordion class="headers-align" multi>
                                <mat-expansion-panel >
                                    <mat-expansion-panel-header>
                                        <mat-panel-title>
                                            1. Dinamismo estratégico
                                        </mat-panel-title>
                                        <mat-panel-description>
                                            Descripción
                                        </mat-panel-description>
                                    </mat-expansion-panel-header>
                                    <p>Evalúa hasta qué punto la organización puede definir e implementar estrategias digitales
                                        eficaces basadas en una visión corporativa y un conjunto de objetivos claros.</p>
                                </mat-expansion-panel>
                            </mat-accordion>
                            
                            <mat-accordion class="headers-align" multi>
                                <mat-expansion-panel >
                                    <mat-expansion-panel-header>
                                        <mat-panel-title>
                                            2. Centro de atención al cliente
                                        </mat-panel-title>
                                        <mat-panel-description>
                                            Descripción
                                        </mat-panel-description>
                                    </mat-expansion-panel-header>
                                    <p>Evalúa hasta qué punto la organización utiliza activamente los conocimientos del cliente para ofrecer una experiencia ROADS personalizada a sus clientes. 
                                        La ODMM asume que los mejores negocios digitales hacen esto a través de un enfoque en la marca, la experiencia del cliente y el gobierno de la experiencia.</p>
                                </mat-expansion-panel>
                            </mat-accordion>

                            <mat-accordion class="headers-align" multi>
                                <mat-expansion-panel >
                                    <mat-expansion-panel-header>
                                        <mat-panel-title>
                                            3. Cultura digital, talento y habilidades
                                        </mat-panel-title>
                                        <mat-panel-description>
                                            Descripción
                                        </mat-panel-description>
                                    </mat-expansion-panel-header>
                                    <p>Esta categoría mide las herramientas, habilidades y procesos necesarios para capacitar a una fuerza laboral digital, evaluando cómo una organización contrata, retiene y motiva a los miembros de su equipo.</p>
                                </mat-expansion-panel>
                            </mat-accordion>

                            <mat-accordion class="headers-align" multi>
                                <mat-expansion-panel >
                                    <mat-expansion-panel-header>
                                        <mat-panel-title>
                                            4. Innovación y entrega
                                        </mat-panel-title>
                                        <mat-panel-description>
                                            Descripción
                                        </mat-panel-description>
                                    </mat-expansion-panel-header>
                                    <p>Esta categoría evalúa la capacidad de la organización para crear y ofrecer de forma rápida y eficaz productos y servicios digitales innovadores junto con un ecosistema de socios.</p>
                                </mat-expansion-panel>
                            </mat-accordion>

                            <mat-accordion class="headers-align" multi>
                                <mat-expansion-panel >
                                    <mat-expansion-panel-header>
                                        <mat-panel-title>
                                            5. Big Data e IA
                                        </mat-panel-title>
                                        <mat-panel-description>
                                            Descripción
                                        </mat-panel-description>
                                    </mat-expansion-panel-header>
                                    <p>Evalúa el grado en que la organización utiliza los datos para crear negocios a través del impulso de la eficacia operativa y la reducción de costes, y a través de ingresos crecientes.</p>
                                </mat-expansion-panel>
                            </mat-accordion>

                            <mat-accordion class="headers-align" multi>
                                <mat-expansion-panel >
                                    <mat-expansion-panel-header>
                                        <mat-panel-title>
                                            6. Liderazgo Tecnológico
                                        </mat-panel-title>
                                        <mat-panel-description>
                                            Descripción
                                        </mat-panel-description>
                                    </mat-expansion-panel-header>
                                    <p>Esta categoría evalúa hasta qué punto la organización es capaz de adoptar nuevas tecnologías digitales junto con un gobierno efectivo y bien definido para ofrecer operaciones totalmente automatizadas, escalables y fiables.</p>
                                </mat-expansion-panel>
                            </mat-accordion>
                        </div>
                </section>

            </div>

        </div>
    </div>



</div>