<div class="main-content">
    <div class="container-fluid">
        <div class="row">

            <div class="col-md-12 col-md-12 col-sm-12">
                <div class="card">
                    <div class="card-header card-header-info">
                        <div class="text-center">
                            <h3 class="card-title">Modelo de madurez digital abierto</h3>
                            <p class="card-category">ODMM</p>
                        </div>
                    </div>
                    <div class="card-body">
                        <h4>
                            La Comunidad Open ROADS es un foro dedicado a acelerar la transformación de los negocios digitales. Los principales integrantes de la Comunidad son los proveedores de servicios digitales, a los que se unen los participantes de la industria digital y todas
                            las empresas que hacen crecer sus negocios a partir de un ecosistema basado en Internet. La Comunidad logra su objetivo sirviendo de acelerador interindustrial para identificar nuevos modelos de negocios digitales y oportunidades
                            de ingresos, incluida la creación, el intercambio y la aplicación de las mejores prácticas para abordar esas oportunidades. La sigla ROADS representa cinco principios que definen los profundos niveles de personalización y la
                            rápida prestación de servicios que esperan los consumidores digitales en la actualidad.
                        </h4>
                    </div>
                </div>
            </div>

        </div>


        <div class="row">
            <div class="text-center">

            </div>
        </div>

    </div>
</div>