<h1 mat-dialog-title><strong>{{action}}</strong></h1>
<div mat-dialog-content>
    <form [formGroup]="dataForm">
        <div *ngIf="action != 'Borrar'; else elseTemplate">
            <!-- Load data services -->
            <mat-form-field appearance="outline">
                <mat-label>Seleccione un ítem de categoría anterior </mat-label>
                <mat-select formControlName="idRelacion">
                    <mat-option *ngFor="let item of local_data_load" [value]="item.id">
                        {{ item.nombre }}
                    </mat-option>
                </mat-select>
                <mat-error *ngIf="dataForm.controls['idRelacion'].hasError('required') && dataForm.controls['idRelacion'].touched">Elíga la categoría a la que pertenece.
                </mat-error>
            </mat-form-field>
            <!-- Fields common -->
            <mat-form-field appearance="outline">
                <input formControlName="nombre" [placeholder]="tipo" matInput required>
                <mat-error *ngIf="dataForm.controls['nombre'].hasError('required') && dataForm.controls['nombre'].touched">El nombre es requerido.
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Descripción</mat-label>
                <textarea formControlName="descripcion" placeholder="Breve descripción de lo que comprende" matInput></textarea>
                <mat-error *ngIf="dataForm.controls['descripcion'].hasError('required') && dataForm.controls['descripcion'].touched">La descripcion es requerida.
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Peso</mat-label>
                <input matInput formControlName="peso" type="number" placeholder="Peso">
                <mat-error *ngIf="dataForm.controls['peso'].hasError('required') && dataForm.controls['peso'].touched">El peso es requerido.
                </mat-error>
            </mat-form-field>
        </div>
    </form>
    <ng-template #elseTemplate>
        <p>¿Está seguro de borrar </p>
        <b>{{local_data.nombre}}</b>?
        <hr>
    </ng-template>
</div>
<div mat-dialog-actions class="dialog-actions" align="center">
    <button mat-raised-button [disabled]="dataForm.invalid" (click)="doAction()">{{action}}</button>
    <button mat-raised-button color="warn" (click)="closeDialog()">Cancelar</button>
</div>