<div class="main-content">
    <div class="container-fluid">

        <app-loader *ngIf="!flag"></app-loader>

        <!-- Puntuacion nivel de madurez -->
        <div class="row" *ngIf="flag">
            <div class="col-md-12">

                <div class="card">
                    <div class="card-header card-header-success">
                        <h2 class="card-title text-center text-justify"><strong>REPORTE CATEGORÍA:</strong></h2>
                        <h2 class="card-title text-center text-justify"><strong>{{ categoria.categoriaNombre | uppercase
                                }} </strong></h2>
                    </div>

                    <!-- Body principal -->
                    <div class="card-body" #canvasPorcentaje id="canvasPorcentaje">

                        <div class="row mt-4">
                            <div class="mx-auto text-center">
                                <h2 class="text-info" style="font-weight: bold; font-size: xx-large;">RESULTADO
                                    AUTODIAGNÓSTICO
                                </h2>
                                <div class="col-md-12">
                                    <div class="card card-stats">
                                        <div class="card-header card-header-success card-header-icon">
                                            <div class="card-icon">
                                                <i class="material-icons">pie_chart</i>
                                            </div>
                                            <p class="card-category text-primary"
                                                style="font-size: large; font-weight: 400"><strong>Nivel de madurez
                                                    digital de: {{ categoria.categoriaNombre | uppercase }} </strong>
                                            </p>
                                            <h3 class="card-title"> {{ respuestasUsuario.puntuacionCategoria *10 |
                                                number:'1.0-2' }}/100
                                                <small>%</small>
                                            </h3>
                                        </div>
                                        <div class="card-footer mx-auto">
                                            <circle-progress [radius]="70" [responsive]="true"
                                                [percent]="respuestasUsuario.puntuacionCategoria *10"
                                                [showSubtitle]="false" [outerStrokeWidth]="12" [innerStrokeWidth]="10"
                                                [outerStrokeColor]="'#e6e60e'" [innerStrokeColor]="'#e6e60e'"
                                                [animation]="true" [animationDuration]="1000" [titleFontWeight]="600"
                                                [titleFontSize]="30" [unitsFontSize]="20">
                                            </circle-progress>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <hr>

                        <div class="row">
                            <div class="col-md-10 col-sm-12 mx-auto">
                                <div class="text-center">
                                    <div class="jumbotron jumbotron-fluid" style="padding: 1rem;">
                                        <div class="container">
                                            <h5 class="display-4">NIVEL DE MADUREZ DIGITAL POR CATEGORÍAS</h5>
                                            <p class="lead">A continuación se ofrece una valoración y análisis a
                                                detalle de los resultados obtenidos al realizar el cuestionario
                                                de autodiagnóstico, considerando cada respuesta reflejada en las
                                                preguntas de dicho
                                                cuestionario para la cuantificación del nivel de madurez digital
                                                de tu negocio.</p>
                                            <blockquote>*Necesita haber contestado mínimo 3 categorías del
                                                cuestionario para que se visualice correctamente el gráfico.
                                            </blockquote>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-10 col-sm-12 mx-auto mb-4">
                                <div style="display: block;">
                                    <canvas id="canvas" baseChart [datasets]="radarChartData"
                                        [options]="radarChartOptions" [labels]="radarChartLabels" chartType="radar">
                                    </canvas>
                                </div>
                            </div>

                        </div>
                    </div>
                    <!-- FIN Body principal -->
                </div>

            </div>
        </div>

        <!-- Recomendaciones -->
        <div class="row" *ngIf="flag">
            <div class="col-md-11 mx-auto">
                <div class="card">
                    <div class="card-header card-header-info">
                        <h2 class="card-title text-center text-justify">
                            <strong>RECOMENDACIONES</strong>
                        </h2>
                    </div>

                    <div #respuestasData>
                        <div class="card-body" *ngFor="let metrica of respuestasUsuario.metricas, let i = index"
                            style="padding: 0px; margin: 0px;">
                            <div class="col-md-9 mx-auto">
                                <div class="card">
                                    <div class="card-header">
                                        <h4 class="card-title">Recomendación de mejora para la métrica evaluada:
                                            <strong>{{ metrica.metrica }}</strong>
                                        </h4>
                                        <br>
                                        <h4><strong>{{i + 1}} - {{ metrica.pregunta }} </strong></h4>
                                        <p style="font-size: 18px; color: gray; ">Tu respuesta: {{
                                            metrica.respuesta["opcion"] }}</p>
                                    </div>
                                    <hr>
                                    <div class="card-body">
                                        <p style="font-size: 18px; font-style: italic; color: #9bc531;">Recomendación:
                                            <strong>{{ metrica.respuesta["recomendacion"] }}</strong>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="col-md-12 text-right">
            <!-- <button class="btn btn-info btn-block" (click)="abrirPDF()">Ver PDF</button> -->
            <button class="btn btn-success btn-block" (click)="descargarReporte()">Descargar reporte</button>
            <button (click)="regresar()" mat-raised-button class="btn-block">
                <mat-icon>keyboard_arrow_left</mat-icon>Regresar
            </button>
        </div>

    </div>
</div>