<nav class="navbar navbar-expand-lg navbar-transparent  navbar-absolute fixed-top">
    <div class="container-fluid">
        <div class="navbar-wrapper">
            <a class="navbar-brand" href="javascript:void(0)">{{getTitle()}}</a>
        </div>
        <button mat-raised-button class="navbar-toggler" type="button" (click)="sidebarToggle()">
            <span class="sr-only">Toggle navigation</span>
            <span class="navbar-toggler-icon icon-bar"></span>
            <span class="navbar-toggler-icon icon-bar"></span>
            <span class="navbar-toggler-icon icon-bar"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navigation">

            <!-- Menu usuario -->
            <ul class="navbar-nav">
                <li class="nav-item ml-5 mr-3" *ngIf="!auth.user | async">
                    <button class="btn btn-primary btn-round" type="button" [routerLink]="['/login']">
                        <i class="fas fa-sign-in-alt "> </i> Acceder
                    </button>
                </li>

                <li class="nav-item ml-5 mr-5" *ngIf="auth.user | async">
                    <div class="dropdown">
                        <button class="btn dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
                            <i class="material-icons mr-2 mr-2">person_pin</i>Usuario
                        </button>
                        <ul class="dropdown-menu">
                            <li>
                                <a [routerLink]="['/user-profile']"><i class="material-icons mr-2">person</i>Editar
                                    Perfil</a>
                            </li>
                            <li>
                                <a (click)="onLogout()"><i
                                        class="material-icons mr-2 mr-2">subdirectory_arrow_left</i>Cerrar Sesión</a>
                            </li>
                        </ul>

                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>