.displayTable {
    width: 100%;
    height: 100%;
    background: #e8423ef5;
}

.displayTableCell {
    vertical-align: middle;
    width: 100%;
    height: 100%;
}

.authBlock {
    margin: 0 auto;
    max-width: 400px;
    background: #eeeeee;
    padding: 30px 50px 30px;
    overflow: hidden;
    -webkit-box-shadow: 0 0 4px 0 rgba(0, 0, 0, .04);
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, .04);
}

.formGroup {
    margin-bottom: 20px;
    float: left;
    width: 100%;
}

.formControl:focus {
    border: 2px solid #d3d3d6
}

.redirectToLogin {
    padding: 0px 0px 22px;
    text-align: center;
    font-size: 18px;
    font-weight: bolder;
    display: block;
    color: black;
}

.redirectToLogin .redirect {
    cursor: pointer;
    color: #ffffff;
    text-decoration: underline;
}