<div class="main-content">
    <div class="container-fluid">
        <div class="row">

            <div class="col-md-10 mx-auto">
                <div class="card">
                    <div class="card-header card-header-icon card-header-rose">
                        <div class="card-icon">
                            <i class="material-icons">user</i>
                        </div>
                        <div class="text-center">
                            <h3 class="card-title">¡Gracias por registrarte!</h3>
                        </div>
                    </div>
                    <div class="card-body text-center" *ngIf="userLoged">
                        <p>Hemos enviado un mensaje de confirmacion al email <strong>{{ userLoged.email }}</strong>.</p>
                        <div>
                            <p>Verifique su correo electrónico y haga clic en el enlace para verificar su dirección de correo electrónico.</p>
                        </div>
                        <!-- Volver a reenviar correo por si no llego -->
                        <button type="button" mat-raised-button class="btn btn-info" (click)="reenviarEmail()">
                            <i class="fas fa-redo-alt"></i>
                            Reenviar email de verification
                        </button>
                        <hr>
                        <div class="text-center">
                            <span>¿Ir hacia atrás?</span>
                            <br>
                            <button [routerLink]="['/login']" mat-raised-button class="btn btn-warning">Log in</button>
                        </div>

                    </div>
                </div>
            </div>


        </div>
    </div>