<div class="main-content">
    <div class="container-fluid">

        <div class="row">
            <div class="col-md-12">
                <app-loader *ngIf="!load"></app-loader>
            </div>
        </div>

        <div class="row" *ngIf="load">
            <div class="col-md-12">

                <!-- Categoria -->
                <div class="row">
                    <div class="card text-center">
                        <div class="card-header card-header-info">
                            <h2 class="card-title">
                                <strong>{{ categoria.nombre | uppercase }}</strong>
                            </h2>
                        </div>
                        <div class="card-body">
                            <h4> {{ categoria.descripcion }}</h4>
                        </div>
                    </div>
                </div>
                <hr />

                <!-- Subcategorias -->
                <div class="row" *ngFor="let subcategoria of subcategorias, let iSubs = index">
                    <div class="card">
                        <div class="card-header card-header-icon card-header-success">
                            <div class="card-icon">
                                <i class="material-icons"></i>
                            </div>
                            <h3 class="card-title">
                                Subcategoria: {{ subcategoria.nombre }}
                            </h3>
                        </div>
                        <div class="card-body text-center">
                            <h4>
                                <strong>{{ subcategoria.descripcion }}</strong>
                            </h4>
                        </div>

                        <!-- Capacidades -->
                        <div *ngFor="let capacidad of subcategorias[iSubs].capacidades, let iCap = index">
                            <div class="col-md-11 mx-auto">
                                <div class="card border-info">
                                    <div class="card-header">
                                        <h4>Capacidad: {{ capacidad.nombre }}</h4>
                                    </div>
                                    <div class="card-body text-info">
                                        <h5 class="card-text"> <strong> {{ capacidad.descripcion }}</strong></h5>
                                    </div>
                                </div>

                                <!-- Métrica -->
                                <div class="card">
                                    <div class="card-header">
                                        <h3> Métrica [ {{ capacidad.metrica["nombre"] }}] <br> <strong class="text-success">{{ capacidad.metrica["pregunta"] }}</strong></h3>
                                    </div>
                                    <div class="card-body">
                                        <div class="col-xs-10">
                                            <label> <small>Elija la opción más asequible a su empresa</small></label>
                                            <!-- Respuestas -->
                                            <mat-radio-group class="radio-group" name="opciones{{iSubs}}{{iCap}}" (change)="onChangeOptionValues($event, iCap, subcategoria)" *ngFor="let respuesta of subcategorias[iSubs].capacidades[iCap].metrica.respuestas">
                                                <mat-radio-button class="radio-button" [value]="respuesta">
                                                    <span class="wrap-mat-radio-label"> {{respuesta.opcion }}</span>
                                                </mat-radio-button>
                                            </mat-radio-group>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr />
                    </div>
                    <button mat-raised-button id="btn{{iSubs}}" type="button" [disabled]="buttons[iSubs]" (click)="guardarRespuestas(iSubs)" class="btn btn-block btn-success pull-right">Guardar
                        cambios</button>
                </div>
                <!-- End Subcategorias -->
            </div>
            <!-- End Subcategorias -->
        </div>

        <hr>

        <div class="row" *ngIf="load">
            <div class="col-md-6">
                <div class="text-left">
                    <button (click)="regresarSinGuardar()" mat-raised-button class="btn btn-default ">
                        <mat-icon>keyboard_arrow_left</mat-icon>Regresar sin guardar
                    </button>
                </div>
            </div>
            <div class="col-md-6">
                <div class="text-right">
                    <button [disabled]="btnSave" (click)="guardarCategoria()" mat-raised-button class="btn btn-success">
                        <mat-icon>save</mat-icon>Guardar categoría
                    </button>
                </div>
            </div>
        </div>
    </div>

</div>