<div class="wrapper">

    <div class="page-header">
        <div class="page-header-image"></div>
        <div class="content">
            <div class="container">
                <div class="row">

                    <!-- Card register -->
                    <div class="col-lg-6 col-md-6">
                        <div class="square square-7" id="square7"></div>
                        <div class="square square-8" id="square8"></div>

                        <div class="card card-register">
                            <div class="card-header">
                                <img alt="Card image" class="card-img" src="https://zero1.sg/img/accountlogin-icon.png" />
                                <!-- <h4 class="card-title ml-1">Registro</h4> -->
                            </div>
                            <div class="card-body">

                                <mat-tab-group mat-align-tabs="center">
                                    <!-- Login -->
                                    <mat-tab label="Login">

                                        <form class="example-container mt-4" [formGroup]="loginForm" (ngSubmit)="login()" autocomplete="on">
                                            <mat-form-field appearance="outline">
                                                <mat-label>Email</mat-label>
                                                <input matInput type="email" formControlName="correo" required placeholder="Email" autofocus>
                                                <mat-error *ngFor="let validation of account_validation_messages.correo">
                                                    <mat-error class="error-message" *ngIf="loginForm.get('correo').hasError(validation.type) && (loginForm.get('correo').dirty || loginForm.get('correo').touched)">{{validation.message}}</mat-error>
                                                </mat-error>
                                                <mat-icon matSuffix>email</mat-icon>

                                            </mat-form-field>

                                            <!--Password -->
                                            <mat-form-field appearance="outline">
                                                <mat-label>Contraseña</mat-label>
                                                <mat-pass-toggle-visibility #toggle matSuffix></mat-pass-toggle-visibility>
                                                <input matInput [type]="toggle.type" formControlName="clave" required placeholder="Password">
                                            </mat-form-field>

                                            <!-- Logeo -->
                                            <mat-card-actions class="text-center">
                                                <button class="btn btn-success btn-block" type="submit" [disabled]='!loginForm.valid'>Enviar</button><br>
                                                <span>¿Olvidó su contraseña?</span>
                                                <br>
                                                <button class="btn btn-warning" *ngIf="!passReset && loginForm.controls" [disabled]='!loginForm.valid' (click)="resetPassword()">Resetear
                                                    Contraseña </button>
                                                <br>
                                                <p *ngIf="passReset">Reseteo finalizado. Chequee su email electrónico
                                                </p>
                                            </mat-card-actions>
                                        </form>
                                    </mat-tab>


                                    <!-- Formulario Registro -->
                                    <mat-tab label="Registro">
                                        <form class="example-container mt-4" [formGroup]="registroForm" (ngSubmit)="registro()" autocomplete="on">

                                            <blockquote class="blockquote">
                                                <p>A efectos estadísticos, les solicitamos los siguientes datos de su organización, como paso previo al inicio del cuestionario. Gracias por su colaboración.</p>
                                            </blockquote>

                                            <div class="row mx-auto inputs-row">
                                                <div class="col-md-6">
                                                    <mat-form-field appearance="outline">
                                                        <mat-label>Nombres</mat-label>
                                                        <input matInput formControlName="nombres" type="text" placeholder="Nombres" autofocus>
                                                        <mat-icon matSuffix>face</mat-icon>
                                                    </mat-form-field>
                                                </div>

                                                <div class="col-md-6">
                                                    <mat-form-field appearance="outline">
                                                        <mat-label>Apellidos</mat-label>
                                                        <input matInput formControlName="apellidos" type="text" placeholder="Apellidos">
                                                        <mat-icon matSuffix>face</mat-icon>
                                                    </mat-form-field>
                                                </div>
                                            </div>

                                            <mat-form-field appearance="fill">
                                                <mat-label>Cedula</mat-label>
                                                <input matInput formControlName="cedula" type="text" placeholder="C.I.">
                                                <mat-icon matSuffix>fingerprint</mat-icon>
                                            </mat-form-field>

                                            <mat-form-field appearance="fill">
                                                <span matPrefix>+593 &nbsp;</span>
                                                <input type="number" matInput formControlName="telefono" placeholder="Teléfono">
                                                <mat-icon matSuffix>local_phone</mat-icon>
                                            </mat-form-field>

                                            <mat-label>Sexo</mat-label>
                                            <mat-radio-group aria-labelledby="sexo" formControlName="sexo">
                                                <mat-radio-button *ngFor="let itemGenero of genero" [value]="itemGenero">
                                                    {{ itemGenero }}
                                                </mat-radio-button>
                                            </mat-radio-group>


                                            <mat-form-field appearance="outline">
                                                <mat-label>Correo</mat-label>
                                                <input matInput type="email" formControlName="correo" required>
                                                <mat-icon matSuffix>email</mat-icon>
                                                <mat-error *ngFor="let validation of account_validation_messages.correo">
                                                    <mat-error class="error-message" *ngIf="registroForm.get('correo').hasError(validation.type) && (registroForm.get('correo').dirty || registroForm.get('correo').touched)">{{validation.message}}</mat-error>
                                                </mat-error>
                                            </mat-form-field>

                                            <br>

                                            <!-- Password -->
                                            <mat-slide-toggle #toggleDetalle>Mostrar Detalles Password</mat-slide-toggle>

                                            <mat-form-field appearance="outline" hintLabel="Min 8 characters" [color]="passwordComponent.color">

                                                <mat-label>Contraseña</mat-label>
                                                <mat-pass-toggle-visibility #toggleVisbility matSuffix></mat-pass-toggle-visibility>
                                                <input matInput #password formControlName="clave" type="password" [type]="toggleVisbility.type" placeholder="Password">

                                                <mat-hint align="end" aria-live="polite">
                                                    {{password.value.length}} / {{passwordComponent.max}}
                                                </mat-hint>
                                            </mat-form-field>

                                            <!-- Validador password -->
                                            <mat-password-strength #passwordComponent [min]="8" [max]="20" (onStrengthChanged)="onStrengthChanged($event)" [password]="password.value">
                                            </mat-password-strength>

                                            <!--Password info requeriments-->
                                            <mat-password-strength-info *ngIf="toggleDetalle.checked" [passwordComponent]="passwordComponent" [enableScoreInfo]="true" lowerCaseCriteriaMsg="Contiene al menos un carácter en mínuscula" upperCaseCriteriaMsg="Contiene al menos un carácter en mayúscula"
                                                digitsCriteriaMsg="Contiene al menos un carácter numérico" specialCharsCriteriaMsg="Contiene al menos un carácter especial" minCharsCriteriaMsg="Contiene al menos 8 carácteres">
                                            </mat-password-strength-info>

                                            <br>
                                            <!-- ---------------------------------------------------------------------------- -->

                                            <!-- Datos de la Empresa -->
                                            <mat-form-field appearance="fill">
                                                <mat-label>Razón Social</mat-label>
                                                <input matInput formControlName="razon_social" type="text" placeholder="Nombre de su empresa">
                                                <mat-icon matSuffix>business</mat-icon>
                                            </mat-form-field>

                                            <mat-form-field appearance="fill">
                                                <mat-label>Cargo del Responsable</mat-label>
                                                <input matInput formControlName="cargo" type="text" placeholder="Cargo que desempeña">
                                                <mat-icon matSuffix>work</mat-icon>
                                            </mat-form-field>

                                            <mat-form-field appearance="outline">
                                                <mat-label>Sector Industrial</mat-label>
                                                <mat-select formControlName="sector_industrial">
                                                    <mat-option *ngFor="let sector of sectores" [value]="sector.nombre">
                                                        {{sector.view}}
                                                    </mat-option>
                                                </mat-select>
                                            </mat-form-field>

                                            <mat-form-field appearance="outline">
                                                <mat-label>Tamaño de la Empresa</mat-label>
                                                <mat-select formControlName="tamanio_empresa">
                                                    <mat-option *ngFor="let empresa of empresas" [value]="empresa.tipo_empresa">
                                                        {{empresa.view}}
                                                    </mat-option>
                                                </mat-select>
                                            </mat-form-field>

                                            <div class="row mx-auto">
                                                <div class="col-md-6">
                                                    <mat-form-field appearance="standard">
                                                        <mat-label>Años de Actividad de la Empresa</mat-label>
                                                        <input matInput formControlName="anio_creacion" type="number" value="0">
                                                        <mat-icon matSuffix>business</mat-icon>
                                                    </mat-form-field>
                                                </div>

                                                <div class="col-md-6">
                                                    <mat-form-field appearance="standard">
                                                        <mat-label>Franquicias</mat-label>
                                                        <input matInput formControlName="franquicias" type="number" value="0">
                                                        <mat-icon matSuffix>business</mat-icon>
                                                    </mat-form-field>
                                                </div>

                                            </div>

                                            <mat-form-field appearance="outline">
                                                <mat-label>Área Alcance</mat-label>
                                                <mat-select formControlName="area_alcance">
                                                    <mat-option *ngFor="let area of areas" [value]="area">
                                                        {{area}}
                                                    </mat-option>
                                                </mat-select>
                                            </mat-form-field>

                                            <!-- Lugar Empresa -->
                                            <!--
                                                <mat-form-field appearance="outline">
                                                <mat-label>País</mat-label>
                                                <mat-select formControlName="pais">
                                                    <mat-option [value]="Ecuador">
                                                    </mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                        -->
                                            <mat-form-field appearance="outline">
                                                <mat-label>Provincia</mat-label>
                                                <mat-select formControlName="provincia">
                                                    <mat-option *ngFor="let provi of provincias" [value]="provi">
                                                        {{provi}}
                                                    </mat-option>
                                                </mat-select>
                                            </mat-form-field>


                                            <mat-form-field appearance="outline">
                                                <mat-label>Cantón</mat-label>
                                                <mat-select formControlName="canton">
                                                    <mat-option *ngFor="let cant of cantones" [value]="cant">
                                                        {{cant}}
                                                    </mat-option>
                                                </mat-select>
                                            </mat-form-field>

                                            <mat-form-field appearance="fill">
                                                <mat-label>Dirección de la Empresa</mat-label>
                                                <textarea matInput type="text" autocomplete="on"></textarea>
                                            </mat-form-field>


                                            <!-- Boton Registro-->
                                            <mat-card-actions>
                                                <button class="btn btn-success btn-block" type="submit" [disabled]="registroForm.valid">Registrarme</button>
                                            </mat-card-actions>
                                            <br>


                                        </form>
                                    </mat-tab>

                                </mat-tab-group>

                            </div>
                        </div>
                    </div>


                    <div class="square square-1" id="square1"></div>
                    <div class="square square-2" id="square2"></div>
                    <div class="square square-3" id="square3"></div>
                    <div class="square square-4" id="square4"></div>
                    <div class="square square-5" id="square5"></div>
                    <div class="square square-6" id="square6"></div>
                    <div class="register-bg"></div>
                </div>
            </div>
        </div>

    </div>