<h1 mat-dialog-title><strong>{{action}}</strong></h1>
<div mat-dialog-content>
    <form [formGroup]="dataForm">
        <div *ngIf="action != 'Borrar'; else elseTemplate">
            <!-- Load data services -->
            <mat-form-field appearance="fill">
                <mat-label>Seleccione una capacidad </mat-label>
                <mat-select formControlName="idCapacidad">
                    <mat-option *ngFor="let capacidad of capacidades" [value]="capacidad.id">
                        {{ capacidad.nombre }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <!-- Fields common -->
            <mat-form-field>
                <mat-label>Nombre</mat-label>
                <input formControlName="nombre" placeholder="Nombre de métrica" matInput required>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Pregunta</mat-label>
                <input formControlName="pregunta" placeholder="Pregunta planteada" matInput required>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Peso pregunta</mat-label>
                <input matInput formControlName="peso" type="number" placeholder="Peso pregunta" required>
            </mat-form-field>

            <!-- Respuestas -->
            <div formArrayName="respuestas">
                <h3>Respuestas</h3> <button (click)="addRespuesta()">Agregar Respuesta</button>

                <div *ngFor="let alias of respuestas.controls; let i=index">
                    <!-- The repeated alias template -->
                    <label>
                  Opción {{ i }}
                  <input type="text" [formControlName]="i">
                </label>
                </div>
            </div>
            <mat-form-field>
                <mat-label>Opción</mat-label>
                <input formControlName="opcion" placeholder="Opción de respuesta para la métrica" matInput required>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Peso</mat-label>
                <input matInput formControlName="peso" type="number" placeholder="Peso respuesta [0,2,4,6,8,10]" required>
            </mat-form-field>

        </div>
    </form>
    <ng-template #elseTemplate>
        <p>¿Está seguro de borrar </p>
        <b>{{local_data.nombre}}</b>?
        <hr>
    </ng-template>
</div>
<div mat-dialog-actions class="dialog-actions" align="center">
    <button mat-raised-button [disabled]="dataForm.invalid" (click)="doAction()">{{action}}</button>
    <button mat-raised-button color="warn" (click)="closeDialog()">Cancel</button>
</div>

<form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
    <label>
      First Name:
      <input type="text" formControlName="firstName" required>
    </label>

    <label>
      Last Name:
      <input type="text" formControlName="lastName">
    </label>

    <div formGroupName="address">
        <h3>Address</h3>

        <label>
        Street:
        <input type="text" formControlName="street">
      </label>

        <label>
        City:
        <input type="text" formControlName="city">
      </label>

        <label>
        State:
        <input type="text" formControlName="state">
      </label>

        <label>
        Zip Code:
        <input type="text" formControlName="zip">
      </label>
    </div>

    <div formArrayName="aliases">
        <h3>Aliases</h3> <button (click)="addAlias()">Add Alias</button>

        <div *ngFor="let alias of aliases.controls; let i=index">
            <!-- The repeated alias template -->
            <label>
          Alias:
          <input type="text" [formControlName]="i">
        </label>
        </div>
    </div>

    <button type="submit" [disabled]="!profileForm.valid">Submit</button>
</form>

<hr>


<p>
    Form Value: {{ profileForm.value | json }}
</p>


<p>
    Form Status: {{ profileForm.status }}
</p>

<p>
    <button (click)="updateProfile()">Update Profile</button>
</p>


<!-- 
  Copyright Google LLC. All Rights Reserved.
  Use of this source code is governed by an MIT-style license that
  can be found in the LICENSE file at http://angular.io/license
  -->