<h1 mat-dialog-title><strong>{{action}}</strong></h1>
<div mat-dialog-content>
    <form [formGroup]="dataForm">
        <div *ngIf="action != 'Borrar'; else elseTemplate">
            <!-- Load data services -->
            <mat-form-field appearance="fill">
                <mat-label>Seleccione una capacidad </mat-label>
                <mat-select formControlName="idCapacidad">
                    <mat-option *ngFor="let capacidad of capacidades" [value]="capacidad.id">
                        {{ capacidad.nombre }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <!-- Fields common -->
            <mat-form-field>
                <mat-label>Nombre</mat-label>
                <input formControlName="nombre" placeholder="Nombre de métrica" matInput required>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Pregunta</mat-label>
                <input formControlName="pregunta" placeholder="Pregunta planteada" matInput required>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Peso</mat-label>
                <input matInput formControlName="peso" type="number" placeholder="Peso pregunta" required>
            </mat-form-field>
        </div>
    </form>
    <ng-template #elseTemplate>
        <p>¿Está seguro de borrar </p>
        <b>{{local_data.nombre}}</b>?
        <hr>
    </ng-template>
</div>
<div mat-dialog-actions class="dialog-actions" align="center">
    <button mat-raised-button [disabled]="dataForm.invalid" (click)="doAction()">{{action}}</button>
    <button mat-raised-button color="warn" (click)="closeDialog()">Cancel</button>
</div>